1. What exactly is []?

Ans. It is a type of array in python called list data type, where we can store data. 
List allows data to;
change,
modify,
and duplicates inside.

2. In a list of values stored in a variable called spam, how would you assign the value 'hello' as the third value? (Assume [2, 4, 6, 8, 10] are in spam.)

Let's pretend the spam includes the list ['a', 'b', 'c', 'd'] for the next three queries.

Ans. (Below)

In [16]:
spam = [2, 4, 6, 8, 10]

spam[2] = "hello"

print(spam)

[2, 4, 'hello', 8, 10]

3. What is the value of spam[int(int('3' * 2) / 11)]?

In [17]:
spam = ['a', 'b', 'c', 'd']

spam[int(int('3' * 2) / 11)]

# spam[int(int('3'*2)/11)]

'd'

4. What is the value of spam[-1]?

In [18]:
spam = ['a', 'b', 'c', 'd']
spam[-1]

'd'

5. What is the value of spam[:2]?

Let's pretend bacon has the list [3.14, 'cat,' 11, 'cat,' True] for the next three questions.

In [19]:
spam[:2]

['a', 'b']

6. What is the value of bacon.index('cat')

In [20]:
bacon = [3.14,'cat', 11, 'cat', True]

bacon.index('cat')

1

7. How does bacon.append(99) change the look of the list value in bacon?

Ans. Below

In [21]:
bacon = [3.14,'cat', 11, 'cat', True]
bacon.append(99)

bacon

[3.14, 'cat', 11, 'cat', True, 99]

8. How does bacon.remove('cat') change the look of the list in bacon?

Ans:

In [22]:
bacon = [3.14,'cat', 11, 'cat', True]

bacon.remove('cat')

bacon

[3.14, 11, 'cat', True]

9. What are the list concatenation and list replication operators?

Ans.

In [23]:
# list concatenation described by + sign where two lists are added.

list1  = [12,34,34,"mumbai",45,"bangalore"]
list2 = ["dog","rat","cat","snake",34,"fish"]

list3 = list1 + list2
print(list3)

[12, 34, 34, 'mumbai', 45, 'bangalore', 'dog', 'rat', 'cat', 'snake', 34, 'fish']

In [24]:
# list replication described by * sign where list will be repeated in multiple with the given number.

list1  = [12,34,34,"mumbai",45,"bangalore"]
list2 = ["dog","rat","cat","snake",34,"fish"]

list3 = list1 * 3
print(list3)

[12, 34, 34, 'mumbai', 45, 'bangalore', 12, 34, 34, 'mumbai', 45, 'bangalore', 12, 34, 34, 'mumbai', 45, 'bangalore']

10. What is difference between the list methods append() and insert()?

Ans. append adds the element at last and insert takes positional arguments, where to add.

In [25]:
list1  = [12,34,34,"mumbai",45,"bangalore"]

list1.append(456)

list1

[12, 34, 34, 'mumbai', 45, 'bangalore', 456]

In [26]:
list1  = [12,34,34,"mumbai",45,"bangalore"]

list1.insert(3,"dnyanesh")

list1

[12, 34, 34, 'dnyanesh', 'mumbai', 45, 'bangalore']

11. What are the two methods for removing items from a list?

Ans. remove method removes element from first occurence and pop removes by taking index. pop removes last if index is not provided.

In [27]:
list1  = [12,34,34,"mumbai",45,"bangalore"]

list1.remove(34)

list1

[12, 34, 'mumbai', 45, 'bangalore']

In [28]:
list1  = [12,34,34,"mumbai",45,"bangalore"]

list1.pop(3)

list1

[12, 34, 34, 45, 'bangalore']

12. Describe how list values and string values are identical.

In [29]:
list6 = {"name1":"Ganesh","name2":"Dnyanesh"}
list6

{'name1': 'Ganesh', 'name2': 'Dnyanesh'}

In [30]:
abc = list(range(10,1,-1))
abc

[10, 9, 8, 7, 6, 5, 4, 3, 2]

13. What's the difference between tuples and lists?

Ans.

1. tuples data can not be changed once created or immutable while list can.
2. tuples represented with "()" whereas list with "[]".
3. tuples, usually used for grouping data and list can be used for modifications later on.

14. How do you type a tuple value that only contains the integer 42?

Ans.

In [31]:
'''
here without comma, 42 number can not be indexed, once comma given we can access value using index notation.
'''
tup1 = (42,) 
tup1[0] # tuple value, without comma, it will give error

42

15. How do you get a list value's tuple form? How do you get a tuple value's list form?

Ans.

In [60]:
list8 = [12, 34, 34, 45, 'bangalore']
tup3 = (345,345,"debra",544,64,645,6,"mily")

tup4 = tuple(list8) # created tuple from list here
list9 = list(tup3) # created list from tuple here

print(tup4)
print(list9)

(12, 34, 34, 45, 'bangalore')
[345, 345, 'debra', 544, 64, 645, 6, 'mily']

16. Variables that "contain" list values are not necessarily lists themselves. Instead, what do they contain?

Ans. Variables with values are actually referenced to memorry locations/list objects and not list values themselves.

In [ ]:
17. How do you distinguish between copy.copy() and copy.deepcopy()?

Ans.

In [ ]:
'''
copy.copy creates shallow copy of values means the it duplicates in original and copied variable.
in copy.deepcopy it keeps original variable values distinguished from the copied variable.
'''

In [66]:
import copy

list10 = [[12,34,56,78,90,123,"asdasd"],[12,34,334,343,434,34,34,34]]

list11 = copy.copy(list10) # it gives updated values in the original variable.

list10[1][2] = 11111

print(list10)
print(list11)

[[12, 34, 56, 78, 90, 123, 'asdasd'], [12, 34, 11111, 343, 434, 34, 34, 34]]
[[12, 34, 56, 78, 90, 123, 'asdasd'], [12, 34, 11111, 343, 434, 34, 34, 34]]

In [67]:
import copy

list10 = [[12,34,56,78,90,123,"asdasd"],[12,34,334,343,434,34,34,34]]

list11 = copy.deepcopy(list10) # it gives always originally created values and will not consider updated values.

list10[1][2] = 11111

print(list10)
print(list11)

[[12, 34, 56, 78, 90, 123, 'asdasd'], [12, 34, 11111, 343, 434, 34, 34, 34]]
[[12, 34, 56, 78, 90, 123, 'asdasd'], [12, 34, 334, 343, 434, 34, 34, 34]]